@font-face {
  font-family: 'Cunia';
  src: url('../../../fonts/Cunia.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto-Regular.ttf') format('truetype');
}

.order-section {
  padding: 50px;
  background-color: #D7385E;
  color: #fff;
  background-image: url('../../assets/pinky-background-with-deco.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  box-sizing: border-box;
}

.order-container {
  max-width: 800px;
  margin: 0 auto;
}

.order-container h2 {
  font-size: 27px;
  margin: 50px;
  text-transform: uppercase;
  font-family: 'Cunia';
  text-align: center;
}

.order-container p {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  text-align: center;
}

.order-note {
  font-size: 14px;
  margin-bottom: 30px;
  font-style: italic;
  text-align: center;
}

.order-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0 0;
}

.form-row {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.align-items-center {
  align-items: center;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 10px;
  text-align: left;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
  padding: 15px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-bottom: 20px;

}

textarea {
  resize: vertical;
  height: 100px;
}

.full-width {
  width: calc(100% - 20px);
  margin: 0 10px;
}

.radio-group {
  display: flex;
  gap: 15px;
}

.radio-group label {
  flex: 1;
  display: flex;
  align-items: center;
}

.radio-group input {
  margin-right: 5px;
}

.order-button-submit {
  padding: 12px 30px;
  background-color: #FF038C;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 45px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .order-section {
    padding: 20px;
    height: auto;
  }

  .order-container {
    max-width: 100%;
    padding: 0 10px;
  }

  .order-form {
    width: 100%;
  }

  .form-row {
    flex-direction: column;
    margin-bottom: 10px;
  }

  .form-group {
    margin: 0 0 10px 0;
    width: 100%;
  }

  .radio-group {
    flex-direction: column;
  }

  .radio-group label {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .order-button {
    width: 100%;
  }
}
