@font-face {
  font-family: 'Cunia';
  src: url('../../../fonts/Cunia.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto-Regular.ttf') format('truetype');
}


body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  background-image: url('../../assets/main/background-first-section.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 92vh;
  box-sizing: border-box;
}

.hero-content {
  max-width: 40%;
  color: #fff;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 20px;
  font-family: 'Cunia';
}

.hero-content p {
  margin: 20px 0;
  line-height: 1.6;
  font-family: 'Roboto';
}

.discover-button {
  padding: 10px 20px;
  background-color: #FABA05;
  border: none;
  color: #000000;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  font-family: 'Roboto';
  text-transform: uppercase;
  font-weight: 500;
}

.hero-image {
  display: flex;
  align-items: center;
}

.hero-image img {
  max-width: 100%;
  height: auto;
}
