@font-face {
  font-family: 'Cunia';
  src: url('../../../fonts/Cunia.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto-Regular.ttf') format('truetype');
}

.info {
  padding: 60px 0 60px 60px;
  background-image: url('../../assets/yellow-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.info h2 {
  font-size: 36px;
  color: #960061;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-family: Cunia;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  flex-wrap: nowrap;
}

.text {
  max-width: 45%;
  text-align: left;
  padding: 20px;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.text h3 {
  color: #B8005C;
  margin-bottom: 20px;
  font-family: 'Cunia';
  font-size: 24px;
  width: 70%;
}

.image-container {
  max-width: 45%;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  margin-left: auto;
}

.image-container::before,
.image-container::after {
  content: '';
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 420px;
  height: 100%;
}

.image-container::before {
  background-image: url('../../assets/pink-splash.png');
  top: 3px;
  left: -25px;
  width: 100px;
}

.image-container::after {
  background-image: url('../../assets/pink-splash.png');
  bottom: 10px;
  right: 400px;
  width: 100px;
}

.image-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  position: relative;
  z-index: 3;
}

.learn-more-button {
  padding: 15px 30px;
  background-color: #FF038C;
  font-family: 'Roboto';
  font-weight: 500;
  border: none;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
}

/* Responsive styles */
@media (max-width: 768px) {

  .info {
    padding: 40px 20px;
  }

  .info h2 {
    font-size: 26px;
  }

  .content {
    flex-direction: column;
    align-items: center;
  }

  .text, .image-container {
    max-width: 100%;
    font-size: 16px;
    text-align: justify;
    /* margin: 20px 0; */
    padding: 20px 0;
  }

  .text {
    padding: 0 20px;
  }

  .text h3 {
    font-size: 20px;
    text-align: center;
    width: 100%;
  }

  .image-container img {
    max-width: 100%;
  }

  .image-container::before,
  .image-container::after {
    width: 50px;
  }

  .learn-more-button {
    display: inline-block;
    margin: 30px auto;
    font-size: 15px;
  }
}
