@font-face {
  font-family: 'Cunia';
  src: url('../../../fonts/Cunia.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto-Regular.ttf') format('truetype');
}

.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 50px;
  background-image: url('../../assets/pinky-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
  color: #fff;
}

.products-content {
  max-width: 50%;
}

.products-content h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-family: 'Cunia';
  text-transform: uppercase;
}

.products-content p {
  margin: 20px 0;
  line-height: 1.6;
  font-family: 'Roboto';
}

.products-button {
  padding: 15px 30px;
  background-color: #FF038C;
  border: none;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.products-image img {
  max-width: 100%;
  height: auto;
  outline: 4px solid #FF038C;
  outline-offset: -25px;
  box-sizing: border-box;
  width: 400px;
}

/* Responsive styles */
@media (max-width: 768px) {

  .products {
    flex-direction: column;
    align-items: center;
    padding-right: 0;
  }

  .products-content, .products-image {
    max-width: 100%;
  }

  .products-content {
    order: 1;
    /* padding: 20px; */
    text-align: center;
    padding: 40px;
  }

  .products-image {
    order: 2;
    margin-top: 20px;
  }

  .products-content p {
    text-align: justify;
    margin: 50px 0;
  }

  .products-button {
    display: block;
    margin: 20px auto 0 auto;
    font-size: 15px;
  }

  .products-content h2 {
    font-size: 26px;
  }

}
