.products {
    padding: 50px;
    background-color: #f0e68c;
    text-align: center;
  }
  
  .products h2 {
    font-size: 36px;
  }
  
  .products-button {
    padding: 10px 20px;
    background-color: #ff69b4;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  