@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../../../fonts/RobotoCondensed-Regular.ttf') format('truetype');
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 60px;
  background-color: #FFDB82;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo img {
  height: 50px;
}

.nav-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}


nav {
  display: flex;
  align-items: center;
  margin-right: 15px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

nav ul li {
  font-size: 16px;
  margin-left: 50px;
  font-family: 'Roboto Condensed';
  color: #960061;
  font-weight: bold;
}

nav ul li a {
  text-decoration: none;
  color: inherit;
}

.order-button {
  padding: 10px 20px;
  background-color: #FF038C;
  text-transform: uppercase;
  border: none;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
  font-family: 'Roboto';
  font-weight: 500;
  margin-left: 45px;
}

.order-button:hover {
  background-color: #B8005C;
}

/* Responsive styles */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle div {
  width: 30px;
  height: 4px;
  background-color: #B8005C;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .nav-button-container {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .header {
    justify-content: space-between;
    padding: 20px 40px;
  }

  .header.active .nav-button-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #FFDB82;
    padding: 20px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .header.active nav ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0;
  }

  .header.active nav ul li {
    width: 100%;
    text-align: center;
    margin-left: 0;
    margin-bottom: 20px;
  }

  .header.active .order-button {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }

  .nav-button-container.open {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close-button {
    background: none;
    border: none;
    font-size: 24px;
    color: #B8005C;
    cursor: pointer;
    margin-top: 20px;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
  }
}
