@font-face {
  font-family: 'Cunia';
  src: url('../../../fonts/Cunia.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  src: url('../../../fonts/Roboto-Regular.ttf') format('truetype');
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0 50px;
  background-image: url('../../assets/pinky-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.gallery-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
  max-width: 60%;
}

.gallery-image {
  outline: 1px solid #FF038C;
  outline-offset: -20px;
  box-sizing: border-box;
  width: 450px;
  margin: 10px;
}

.gallery-images .small-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.large-image {
  grid-row: span 2;
  width: 350px;
}

.gallery-alpaca {
  max-width: 40%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.gallery-alpaca img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .gallery {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .gallery-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }

  .gallery-image {
    width: 90%;
    margin: 10px 0;
  }

  .large-image {
    width: 90%;
    margin: 10px 0;
  }

  .gallery-alpaca {
    max-width: 100%;
    margin-top: 20px;
  }

  .gallery-alpaca img {
    width: 100%;
  }
}
